main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav{
    border-radius: 10px;
    background-color: #e1e1e1;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    margin: 20px;
    overflow-x: auto;
}

button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #e1e1e1;
    color:#818181;
    cursor: pointer;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
}

button:hover{
    background-color: #C6C6C6;
}

button img{
    height: 100%;
}

.container{
    width: 95vw;
    margin: 10px 0 110px 0;
}

.active{
    background-color: #000;
    color: #fff;
    transition: all .3s ease-in-out;
}

.active:hover{
    background-color: #000;
    color: #fff;
}